@import 'src/shared/styles/box-shadow-utils';

.ImageBackgroundWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .ImageBackground {
    @extend .inside-bxs;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url('~src/shared/assets/images/logo.png');
    filter: blur(15px);
    width: 100%;
    height: 100%;
  }

  .ImageWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    img {
      //max-width: 100%;
      width: 100% !important;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
