@use 'src/shared/styles/layout-variables' as layout;
@import 'src/shared/styles/box-shadow-utils';

.Sidebar {
  @extend .small-bxs;
  //width: layout.$sidebarWidth;
  min-width: layout.$sidebarWidth !important;
  max-width: unset !important;
  flex: unset !important;
  display: flex;
  flex-direction: column;
  height: 100%;

  .SidebarAffix {
    height: 100%;
    > div {
      height: 100%;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
  }

  .SidebarWrapper {
    //width: layout.$sidebarWidth;
    width: 100%;
    background-color: white;
    height: 100%;
    max-height: calc(100vh - layout.$navbarHeight);
    overflow: auto;

    .SidebarContent {
      overflow: scroll;
    }
  }
}
