@use 'src/shared/styles/layout-variables' as layout;
@import 'src/shared/styles/box-shadow-utils';

.Sidebar {
  @extend .small-bxs;
  width: layout.$sidebarWidth !important;
  min-width: layout.$sidebarWidth !important;
  max-width: unset !important;
  flex: unset !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - layout.$navbarHeight);

  > div {
    display: flex;
    flex-direction: column;
  }

  .SidebarWrapper {
    width: layout.$sidebarWidth !important;
    background-color: white;
    height: 100%;
    top: layout.$navbarOptionsHeight !important;
    left: inherit !important;
    overflow: hidden;

    .SidebarContent {
      overflow: scroll;
      height: 95%;
    }
  }
}
