@use "src/shared/styles/color-variables";
@import "src/shared/styles/border-utils";

.Message {
  @extend .folded;
  background: gray;
  padding: 10px;
  align-self: start;
  color: white;
  margin-bottom: 30px;

  &.MessageFrom {
    align-self: end;
    background-color: blue;
  }
}