@use '/src/shared/styles/sizing-variables' as s;
@use '/src/shared/styles/layout-variables' as layout;
@import '/src/shared/styles/box-shadow-utils';
@import '/src/shared/styles/border-utils';

.HandlePost {
  .handlePostPreview {
    @extend .box-shadow;
    @extend .folded;
    padding: s.$size-large;
    margin: s.$size-large;
    width: 100%;
    max-width: calc(100% - (layout.$sidebarWidth + (s.$size-large * 2)));
  }
  .FormPost {
    padding: s.$size-large;
  }
}
