@use "src/shared/styles/color-variables" as colors;
@use "../../styles/sizing-variables" as s;
@import "src/shared/styles/box-shadow-utils";
@import "src/shared/styles/border-utils";

.VerticalPreviewCardWrapper {
  @extend .small-bxs;
  @extend .folded;
  background-color: white;
  padding: s.$size-medium;
  color: colors.$color-black-1;
  width: 100%;
  .VerticalPreviewCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    gap: s.$size-medium;
    align-items: center;
    justify-items: stretch;
    height: 18.75rem;
    .verticalPromotionCardGridItem {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}
