@use 'src/shared/styles/sizing-variables' as sizes;

.ShoppingCartDrawer {
  .ShoppingCartDrawerHeader {
    position: sticky;
    top: 0;
    background: white !important;
    z-index: 1;
    padding: 2rem 0 .5rem 0;
  }
  .ShoppingCartDrawerRegisterWrapper {
    padding: sizes.$size-xx-large 0;
  }

  .ShoppingCartDrawerFooter {
    padding-left: 0;
    padding-right: 0;
    display: block;
    .ShoppingCartDrawerFooterSubtotal {
      display: flex;
      justify-content: space-between;
    }
  }
}
