@use 'src/shared/styles/color-variables' as colors;
@use '../../../styles/sizing-variables' as s;
@use '../../../styles/layout-variables' as layout;

@import '../../../styles/box-shadow-utils';

.navbar {
  //@extend .small-bxs;
  padding: 0 !important;
  width: 100%;
  height: layout.$navbarOptionsHeight !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  align-items: center;
  justify-items: stretch;
  background: colors.$color-green-4 !important;
  z-index: 1;
  position: sticky;
  top: 0;

  .navbarOptionsWrapper {
    position: relative;
    background: colors.$color-green-4 !important;
    .navbarLogoContainer,
    .navbarBrowserWrapper,
    .navbarOptionsList {
      max-height: layout.$navbarOptionsHeight !important ;
    }
    .navbarLogoContainer {
      max-width: 3.125rem;
      height: layout.$navbarOptionsHeight !important;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .navbarBrowserWrapper {
      grid-column: span 2;
    }
    .navbarOptionsList {
      gap: s.$size-xx-large;
      width: 100%;
      grid-column: span 3;
      > div {
        cursor: pointer;
        color: white;
      }
    }
  }

  .userDropdown {
    display: flex;
    max-width: 20px;
    margin-left: s.$size-xx-medium;
  }
}

.navbarFavoritesWrapper {
  display: flex;
  min-height: layout.$navbarSubOptionsHeight;
  grid-column: 1 / -1;
  color: white;
  background: colors.$color-green-3;
}
.contextPostsWrapper {
  padding: 2rem;
}
