@use "src/shared/styles/color-variables" as colors;
@use "../../../styles/sizing-variables" as s;
@import "../../../styles/box-shadow-utils";

.navbar {
  @extend .small-bxs;
  padding: 0 !important;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  align-items: center;
  justify-items: stretch;
  height: auto !important;
  background: colors.$color-green-4 !important;
  z-index: 1;

  .navbarLogoContainer {
    max-width: 3.125rem;
    img {
      filter: brightness(0) invert(1);
    }
  }

  .navbarBrowserWrapper {
    grid-column: span 2;
  }
  .navbarOptionsList {
    gap: s.$size-xx-large;
    width: 100%;
    grid-column: span 3;
    li {
      cursor: pointer;
      color: white;
    }
  }
  .navbarFavoritesWrapper {
    display: flex;
    height: 2.5rem;
    grid-column: 1 / -1;
    color: white;
    background: colors.$color-green-3;
  }

  .userDropdown {
    display: flex;
    max-width: 20px;
    margin-left: s.$size-xx-medium;
  }
}

