@import "src/shared/styles/text-variables";

.CarouselWrapper {
  position: relative;

  .Arrow {
    position: absolute;
    font-size: $font-size-10;
    font-weight: bold;
    cursor: pointer;
    color: white;
    top: 50%;
    margin-top: -14px;
    z-index: 9;
  }

  .CarouselLeftArrow {
    @extend .Arrow;
    left: 30px;
  }

  .CarouselRightArrow {
    @extend .Arrow;
    right: 30px;

  }
}
