.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.propagate-bxs {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.small-bxs {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.big-bxs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.three-d-bxs {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.inside-bxs {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.small-inside-bxs {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.hover-bxs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
