// generate a border-color, text, and background classes according to earch color in $colors
@each $colorType, $variants in $colors {
  @each $variant, $color in $variants {
    $colorVariant: '-' + $variant;
    @if ($variant == 1) {
      // if it's first color variant the class will be ej: text-color-blue
      $colorVariant: '';
    }
    .text-#{$colorType}#{$colorVariant} {
      color: $color !important;
    }

    .bg-#{$colorType}#{$colorVariant} {
      background-color: $color !important;
    }

    .bg-#{$colorType}#{$colorVariant}-outlined {
      background-color: transparent !important;
      border: 2px solid $color !important;
      color: $color !important;

      &:focus {
        box-shadow: 0 0 3px $color;
      }
    }

    .border-#{$colorType}#{$colorVariant} {
      border-color: $color !important;
    }
  }
}

.instagram-gradient {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  color: white;
  border-radius: 20%;
}