// BLUE
$color-blue-1: #0766c1;
$color-blue-2: #1577d4;
$color-blue-3: #3494ee;
$color-blue-4: #67b5ff;

// GREEN
$color-green-1: #084f09; // #084f09
$color-green-2: #036704; // #036704
$color-green-3: #157811; // #157811
$color-green-4: #168118; // #168118
$color-green-5: #3e9c35; // #3e9c35

// YELLOW
$color-yellow-1: #a67c00;
$color-yellow-2: #bf9b30;
$color-yellow-3: #ffbf00;
$color-yellow-4: #ffcf40;
$color-yellow-5: #ffdc73;

// Red
$color-red-1: #dc372b;
$color-red-2: #f85b50;

// GRAY
$color-gray-1: #6a6a6a;
$color-gray-2: #9c9c9c;
$color-gray-3: #c9c9c9;

// BLACK
$color-black-1: #353f45;

// WHITE
$color-white-1: #fff;
$color-white-2: #C7D0E0;
$color-white-3: #f5f5f5;

$colors: (
  "blue": (
    1: $color-blue-1,
    2: $color-blue-2,
    3: $color-blue-3,
    4: $color-blue-4,
  ),
  "red": (
    1: $color-red-1,
    2: $color-red-2,
  ),
  "gray": (
    1: $color-gray-1,
    2: $color-gray-2,
    3: $color-gray-3,
  ),
  "black": (
    1: $color-black-1,
  ),
  "white": (
    1: $color-white-1,
    2: $color-white-2,
  ),
);
