@use "sizing-variables" as size;

$flexAlignments: (
  "between": space-between,
  "center": center,
  "start": flex-start,
  "end": flex-end,
);

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

@each $name, $value in size.$sizes {
  .gap-#{$name} {
    gap: $value;
  }
}

@each $name, $alignment in $flexAlignments {
  @each $name2, $alignment2 in $flexAlignments {
    .flex-#{$name}-#{$name2} {
      display: flex;
      justify-content: $alignment;
      align-items: $alignment2;
    }

    .flex-#{$name2}-#{$name} {
      display: flex;
      justify-content: $alignment2;
      align-items: $alignment;
    }

    .flex-column-#{$name}-#{$name2} {
      display: flex;
      justify-content: $alignment;
      align-items: $alignment2;
      flex-direction: column;
    }

    .flex-column-#{$name2}-#{$name} {
      display: flex;
      justify-content: $alignment2;
      align-items: $alignment;
      flex-direction: column;
    }
  }
  .flex-align-#{$name} {
    display: flex;
    align-items: $alignment;
  }

  .flex-justify-#{$name} {
    display: flex;
    align-items: $alignment;
  }

  .flex-column-align-#{$name} {
    display: flex;
    align-items: $alignment;
    flex-direction: column;
  }

  .flex-column-justify-#{$name} {
    display: flex;
    align-items: $alignment;
    flex-direction: column;
  }

}
