@import 'bootstrap-icons/font/bootstrap-icons.css';
//@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');
@import 'antd/dist/reset.css';
@import 'color-variables.scss';
@import 'text-variables.scss';
@import 'layout-variables.scss';
@import 'color-utils';
@import 'text-utils';
@import 'flex-utils';
@import 'grid-utils';
@import 'hover-utils';
@import 'box-shadow-utils';
@import 'spacing';
@import 'border-utils';
@import 'common-utils';
@import 'common';
@import "animations";

#__next {
  height: 100%;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FullAppViewPortHeight {
  height: calc(100vh - $navbarHeight) !important;
  top: $navbarHeight !important;
}

.FullAppViewPortHeightNavbarOptions {
  height: calc(100vh - $navbarOptionsHeight) !important;
  top: $navbarOptionsHeight !important;
}

.ant-menu-title-content {
  opacity: 1 !important;
}
