$size-xxx-small: 0.375rem; // 6px
$size-xx-small: 0.5rem; // 8px
$size-x-small: 0.625rem; // 10px
$size-small: 0.75rem; // 12px
$size-xx-medium: 0.875rem; // 14px
$size-x-medium: 1rem; // 16px
$size-medium: 1.125rem; // 18px
$size-large: 1.25rem; // 20px
$size-x-large: 1.5rem; // 24px
$size-xx-large: 1.75rem; // 28px
$size-xxx-large: 2rem; // 32px

$sizes: (
  'xxx-s': $size-xxx-small,
  'xx-s': $size-xx-small,
  'x-s': $size-x-small,
  's': $size-small,
  'xx-m': $size-xx-medium,
  'x-m': $size-x-medium,
  'm': $size-medium,
  'l': $size-large,
  'x-l': $size-x-large,
  'xx-l': $size-xx-large,
  'xxx-l': $size-xxx-large,
);

