@use 'src/shared/styles/color-variables' as colors;
@use 'src/shared/styles/sizing-variables' as sizes;
@import 'src/shared/styles/border-utils';

.MessagingChatBox {
  @extend .folded;
  cursor: pointer;
  background: white;

  .MessagingChatBadge {
    > span {
      width: sizes.$size-xx-small !important;
      height: sizes.$size-xx-small !important;
    }
  }

  .MessagingChatMoreIcon {
    display: none;
    position: absolute;
    right: sizes.$size-x-large;
    width: sizes.$size-large * 2;
    height: sizes.$size-large * 2;
    border-radius: sizes.$size-large * 2;
    background: colors.$color-gray-3;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: sizes.$size-x-large;
    font-weight: bold;
    transform: rotate(90deg);
  }

  &:hover {
    filter: brightness(90%);
    .MessagingChatMoreIcon {
      display: flex;
    }
  }
}
