@use '../../../styles/layout-variables' as layout;

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: layout.$topbarHeight;
  padding: 0 1rem;
  position: sticky;
  top:  0;
  z-index: 999;
  background-color: white;

  .TopBarSocialNetworks {
   display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px !important;
  }

  @media screen and (max-width: 560px) {

    .TopBarAddress {
        max-width: 60%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .TopBarSocialNetworks {
      .TopBarContactUsText {
        display: none;
      }
    }
  }
}