@import "src/shared/styles/spacing-variables";
@import "src/shared/styles/color-variables";
@import "src/shared/styles/text-variables";

.categoriesDrawer {
  .drawer-body {
    padding: 0;
  }
  .categoryList {
    width: 100%;
    border-bottom: 1px solid $color-gray-1;
    padding: $space-small 0;
    .categoryListItem {
      padding: $space-xx-small $space-xx-large;
      cursor: pointer;
      background-color: #ffffff;
      &:hover {
        filter: brightness(90%)
      }
    }

    .categoryListItemTitle {
      padding: $space-xx-small $space-xx-large;
      font-weight: bold;
      font-size: $font-size-7;
    }
  }
}
