@use '../../styles/sizing-variables' as s;
@use 'src/shared/styles/text-variables' as text;
@use 'src/shared/styles/color-variables' as colors;
@use 'src/shared/styles/sizing-variables' as sizes;
@use 'src/shared/styles/breakpoints' as breakpoints;
@import 'src/shared/styles/box-shadow-utils';
@import 'src/shared/styles/border-utils';

.ScrollViewContainer {
  position: relative;

  .ScrollViewWrapper {
    position: relative;

    .ScrollView {
      overflow-x: scroll;
      width: 100%;
      display: flex;
      gap: s.$size-xxx-large * 2;
      align-items: center;
      padding: 0 s.$size-medium;
      @include breakpoints.only-on(('m', 'xs')) {
        padding:0 .5rem;
      }

      &::-webkit-scrollbar {
        display: none;
        width: 6px;
        border-left: 1px solid #e6ecf8;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #d6872c;
      }

      .ScrollViewItem {
        min-width: 300px;
      }
    }

    .Arrow {
      position: absolute;
      font-size: text.$font-size-15;
      font-weight: bold;
      cursor: pointer;
      color: colors.$color-gray-1;
      top: 50%;
      margin-top: calc(text.$font-size-15 / 2 * -1);
      z-index: 9;
      @include breakpoints.only-on(('m', 'xs')) {
        font-size: text.$font-size-12;
      }

    }

    .ScrollViewLeftArrow {
      @extend .Arrow;
      left: -3.5rem;
      @include breakpoints.only-on(('m', 'xs')) {
        left: -2rem;

      }
    }

    .ScrollViewRightArrow {
      @extend .Arrow;
      right: -3.5rem;
      @include breakpoints.only-on(('m', 'xs')) {
        right: -2rem;
      }
    }
  }
}
