@use '../../styles/sizing-variables' as s;
@use 'src/shared/styles/text-variables' as text;
@use 'src/shared/styles/color-variables' as colors;
@import 'src/shared/styles/box-shadow-utils';
@import 'src/shared/styles/border-utils';

.ScrollViewContainer {
  @extend .small-bxs;
  @extend .folded;
  padding: s.$size-large;
  background-color: white;

  .ScrollViewWrapper {
    position: relative;
    padding: s.$size-large;

    .ScrollView {
      overflow-x: scroll;
      width: 100%;
      display: flex;
      gap: s.$size-medium;
      align-items: center;
      justify-content: center;

      .ScrollViewItem {
        @extend .folded;
        overflow: hidden;
        min-width: 14rem;
        .ScrollViewItemImage {
          width: 14rem;
          height: 14rem;
          object-fit: cover;
        }
      }
    }

    .Arrow {
      position: absolute;
      font-size: text.$font-size-10;
      font-weight: bold;
      cursor: pointer;
      color: colors.$color-blue-1;
      top: 50%;
      margin-top: -14px;
      z-index: 9;
      background-color: white;
    }

    .ScrollViewLeftArrow {
      @extend .Arrow;
      left: 0rem;
    }

    .ScrollViewRightArrow {
      @extend .Arrow;
      right: 0rem;
    }
  }
}
