@import "../../../styles/sizing-variables";
@import "src/shared/styles/color-variables";
@import "src/shared/styles/text-variables";

.NotificationDrawer {
  .drawer-body {
    padding: 0;
  }
  .NotificationOptionsList {
    width: 100%;
    border-bottom: 1px solid $color-gray-1;
    padding: $size-small 0;
    .NotificationOption {
      padding: $size-xx-small $size-xx-large;
      cursor: pointer;
      background-color: #ffffff;
      &:hover {
        filter: brightness(90%)
      }
    }

    .NotificationOptionTitle {
      padding: $size-xx-small $size-xx-large;
      font-weight: bold;
      font-size: $font-size-7;
    }
  }
}
