@use "src/shared/styles/text-variables" as f;
@import "src/shared/styles/box-shadow-utils";
@import "src/shared/styles/border-utils";


.ProductCard {
  @extend .small-bxs;
  @extend .folded;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: white;
  cursor: pointer;
  .ProductTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .ProductPrice {
    font-weight: bold;
    font-size: f.$font-size-8;
  }
}
