@use 'src/shared/styles/sizing-variables' as size;
@use 'src/shared/styles/color-variables' as colors;
@use 'src/shared/styles/breakpoints' as breakpoints;
@use 'src/shared/styles/layout-variables' as layout;
@import 'src/shared/styles/border-utils';

$imageButtonSize: 2.5rem;
$bannerHeight: 40px;
.DetailViewWrapper {
  display: flex;
  width: 100vw;
  height: calc(100dvh - (layout.$navbarOptionsHeight + layout.$topbarHeight));
  align-items: stretch;
  overflow: auto;
  gap: 0;
  position: relative;

  &.bannerIsActive {
    padding-top: $bannerHeight;
    .ProductDetailBanner {
      display: block;
    }
  }

  @include breakpoints.only-on(('m')) {
    flex-wrap: wrap !important;
    display: none !important;
  }

  @include breakpoints.only-on(('xs')) {
    display: block !important;
  }

  .ProductDetailBanner {
    display: none;
    width: 100vw;
    height: $bannerHeight;
    background: colors.$color-red-1;
    color: white;
    position: absolute;
    z-index: 9;
    top: 0;
  }

  .GalleryWrapper {
    position: relative;
    flex-grow: 12;
    min-width: 200px;

    @include breakpoints.only-on(('xs')) {
      height: 40vh;
    }

    div {
      height: 100%;
    }

    .DetailViewButton {
      position: absolute;
      color: colors.$color-gray-2;
      font-size: size.$size-large;
      background-color: rgba(256, 256, 256, 0.9);
      width: $imageButtonSize;
      height: $imageButtonSize;
      border-radius: $imageButtonSize;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    .DetailViewControlButton {
      top: 50%;
      margin-top: -$imageButtonSize;
    }

    .DetailViewPrevButton {
      @extend .DetailViewButton;
      @extend .DetailViewControlButton;
      left: 1rem;
    }

    .DetailViewNextButton {
      @extend .DetailViewButton;
      @extend .DetailViewControlButton;
      right: 1rem;
    }

    .DetailViewBackButton {
      @extend .DetailViewButton;
      top: 20px;
      left: 20px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .DetailViewPostDetailsActions {
    z-index: 999;
    flex-direction: column;
    gap: 1rem;
    &.MobileOnly {
      display: none;
    }
    @include breakpoints.only-on(('m', 'xs')) {
      display: none;
      &.MobileOnly {
        display: flex;
      }
    }
  }

  .DetailViewPostDetails {
    display: flex;
    flex-direction: column;
    gap: size.$size-small;
    overflow: auto;
    flex-grow: 1;
    min-width: layout.$sidebarWidth;
    width: layout.$sidebarWidth;
    padding: 0 size.$size-x-large;
    position: relative;
    z-index: 9;
    background: white;

    @include breakpoints.only-on(('m', 'xs', 's')) {
      width: 100% !important;
    }

    .DetailViewPostDetailsHeader {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: white;
      padding: size.$size-small 0;
    }

    .DetailViewPostDetailsContent {
      .DetailViewPostDetailsContentOptionsWrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
        .DetailViewPostDetailsContentOption {
          display: flex;
          flex-direction: column;
          gap: size.$size-medium;
          //width: 100px;
          height: 3rem;

          .DetailViewPostDetailsContentOptionBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: size.$size-small;
            //font-size: 1.1rem;
            //width: auto !important;

            .DetailViewPostDetailsContentOptionBtnColorOption {
              @extend .folded;
              border: colors.$color-gray-2 solid 1px;
              display: block;
              width: size.$size-large;
              height: size.$size-large;
            }
          }
          .DetailViewPostDetailsContentOptionBtnInput input {
            font-size: 1.1rem;
          }

          .DetailViewPostDetailsContentOptionQuantity {
            display: none;
          }

          .DetailViewPostDetailsContentOptionVariants {
            display: none;
            margin-left: 2rem;
            padding-right: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 1rem;
            margin-bottom: size.$size-small;

            .DetailViewPostDetailsContentOptionVariantsItem {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: size.$size-xx-small;

              &Tag {
                padding:5px;
              }

              &Tag, &Input input {
                font-size: 1.1rem;
              }

            }
          }

          &.active {
            height: auto;
            .DetailViewPostDetailsContentOptionBtn {
              background: colors.$color-blue-3;
              color: white;
              border: 2px solid colors.$color-blue-2;
            }
            .DetailViewPostDetailsContentOptionQuantity {
              display: block;
            }
            .DetailViewPostDetailsContentOptionVariants {
              display: grid;
            }
          }
        }
      }
      .DetailViewPostDetailsContentDescriptionWrapper {
        margin: size.$size-xx-large 0;
        .DetailViewPostDetailsContentDescription {
          white-space: pre-line;
          max-height: 200px;
          display: -webkit-box;
          -webkit-line-clamp: 12;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          &.showMoreDescription {
            max-height: 100%;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;
          }
        }
        .DetailViewPostDetailsContentDescriptionToggle {
          float: right;
          padding: size.$size-small 0;
        }
      }
      .DetailViewPostDetailsContentLocation {
      }
      .DetailViewPostDetailsContentSellerInfo {
      }
      .DetailViewPostDetailsContentComments {
        margin-top: size.$size-x-large;
      }
    }
  }
}
